---
import Button from "@components/Button.astro";
import LinkTopNav from "./LinkTopNav.astro";
import Language from "./Language.astro";
import LinkPicker from "./LinkPicker.astro";
import Hamburger from "./Hamburger.astro";

const links=[ //C'est la seule variable à modifier dans le header, le reste se fait tout seul
    {
        pickerTitle: "Prestations",
        links: [
            {
                title: "Voyance",
                href: `${import.meta.env.BASE_URL}/consultation-voyance`
            },
            {
                title: "Soins énergétiques",
                href: `${import.meta.env.BASE_URL}/soins-energetiques`
            },
            {
                title: "Rituels et coaching",
                href: `${import.meta.env.BASE_URL}/rituels-coachings`
            },
        ]
    },
    {
        pickerTitle: "portrait",
        links: [
            {
                title: "",
                href: `${import.meta.env.BASE_URL}/portrait`
            }
        ]
    },
    {
        pickerTitle: "Contact",
        links: [
            {
                title: "",
                href: `${import.meta.env.BASE_URL}/contact`
            }
        ]
    }, 
    {
        pickerTitle: "Relations publiques",
        links: [
            {
                title: "",
                href: `${import.meta.env.BASE_URL}/relations-publiques`
            }
        ]
    }, 
    {
        pickerTitle: "Consulting",
        links: [
            {
                title: "",
                href: `${import.meta.env.BASE_URL}/consulting`
            }
        ]
    },
    {
        pickerTitle: "Press",
        links: [
            {
                title: "",
                href: `${import.meta.env.BASE_URL}/press`
            }
        ]
    }
]
---

<nav class="h-fit py-1 flex flex-col place-content-center border-b border-white !border-opacity-40 bg-black w-full top-0 text-white fixed z-[100]">
    <div class="flex lg:flex-col pb-2 w-full justify-between ">
        <a class="flex gap-0 flex-col text-center whitespace-nowrap  text-xl lg:text-3xl font-bold text-white px-4 p-1 group no-underline place-content-center items-center place-self-center hover:scale-x-105 duration-300" href={`${import.meta.env.BASE_URL}`}>
            NICOLAS ABRY
            <div class="self-center uppercase flex text-xs text-opacity-70 text-white">The celestial light</div>
        </a>
        <div class="flex gap-4 px-4 lg:hidden">
            <Language />
            <Hamburger />
        </div>
    </div>
    <div 
        id="menuList" 
        style="transition:max-height 0.5s ease-in-out" 
        class="flex flex-col space-y-6 lg:space-y-0 px-6 lg:p-0 lg:flex-row transition-all max-h-[0px] lg:max-h-[100px] overflow-hidden bg-black w-full h-screen lg:h-fit z-50 self-center lg:max-w-[1312px] lg:justify-between">
            {
                links.map((link) => {
                    if (link.links.length > 1) {
                        return (
                            <LinkPicker pickerTitle={link.pickerTitle} links={link.links}/>
                        )
                    }
                    return(
                    <LinkTopNav title={link.pickerTitle} href={link.links[0].href}/>
                )
                })
            }
    </div>
</nav>

<script>
    let lastScrollTop =window.scrollY || document.documentElement.scrollTop;
    window.addEventListener('scroll',
        function handleScroll() {
            if (window.innerWidth <= 1024) {return}
            const scrollTopPosition = window.scrollY || document.documentElement.scrollTop;
            const menuList = this.document.getElementById("menuList") as HTMLElement;
            if(menuList){
                if (scrollTopPosition > lastScrollTop) {
                    menuList.style.maxHeight = '0px';
                } else if (scrollTopPosition < lastScrollTop) {
                    menuList.style.maxHeight = '100px';
                }
                lastScrollTop = scrollTopPosition <= 0 ? 0 : scrollTopPosition;
            }
        },
        false,
    );
</script>

<script>
    const menuButton = document.getElementById('menuButton');
    const menuList = document.getElementById('menuList');
    const span1 = document.getElementById('span1');
    const span2 = document.getElementById('span2');
    const span3 = document.getElementById('span3');

    menuButton?.addEventListener('click', () => {
        if (menuList) {
            const max = (menuList.style.maxHeight != '100vh') ? '100vh' : '0px';
            menuList.style.maxHeight = max;
        }
        span1?.classList.toggle('-rotate-45');
        span1?.classList.toggle('translate-y-[9px]');
        span2?.classList.toggle('invisible');
        span3?.classList.toggle('rotate-45');
        span3?.classList.toggle('translate-y-[-9px]');
    });
</script>